@model Product

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Ürünler</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update Product</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Ürün Güncelleme Sayfası</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Ürün Güncelleme Paneli</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <label>Ürün Adı</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <br />
                            <label>Ürün Staoğu</label>
                            <input type="number" asp-for="Stock" class="form-control" />
                            <br />
                            <label>Ürün Fiyatı</label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br />
                            <label>Ürün Resmi</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Ürün Açıklaması</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>Ürün Kategorisi</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categories"></select>
                            <br />
                            <button class="btn btn-success">Ürünü Güncelle</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
